@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
       url("../fonts/Inter-Regular.woff?v=3.19") format("woff");
} 

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2?v=3.19") format("woff2"),
       url("../fonts/Inter-Medium.woff?v=3.19") format("woff");
} 
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"),
       url("../fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}  
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
       url("../fonts/Inter-Bold.woff?v=3.19") format("woff");
}  
@font-face{
  font-family: NotoSansThai-Regular;
  src: url(../fonts/NotoSansThai-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}  
@font-face{
  font-family: NotoSansThai-Medium;
  src: url(../fonts/NotoSansThai-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}    
@font-face{
  font-family: NotoSansThai-SemiBold;
  src: url(../fonts/NotoSansThai-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}    
@font-face{
  font-family: NotoSansThai-Bold;
  src: url(../fonts/NotoSansThai-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}   
a:hover{
  text-decoration: none;
}  
   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}  
.login1-main{
  background: linear-gradient(270deg, #FFFFFF 43.91%, rgba(255, 255, 255, 0.24) 100.87%) , url(../images/BG1.png);
  background-position: center , left top !important;
  background-repeat: no-repeat , no-repeat;
  background-size: 100% , 60% auto !important;
  height: 100vh;
}
.form-loginx{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-loginx .logo{
  max-height: 104px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
} 
.form-loginx label{
  font-family: 'Inter'; 
  font-weight: 600;
  font-size: 18px;
  line-height: 24px; 
  color: #18181B;

}
.form-loginx input{ 
  height: 56px;  
  background: #FFFFFF; 
  border: 1px solid #DEDCE7;
  border-radius: 8px;
  margin-bottom: 30px;
}
.form-loginx input:focus{
  box-shadow: none;
  border: 1px solid #224096;
}
.form-loginx > div{
  width: 100%;
}




/*  
  font-family: NotoSansThai-Bold; 
  SemiBold Regular 
  font-family: 'Inter';
Blue        #224096
Blue Sky    #3AA3F4
Orang       #F29D29
Black       #18181B
Light_Blue  #9DABD3 
*/
/* transition: .33s all ease-out;  */ 

@media only screen and (max-width: 991px) { /* MOBILE */  
   

}